{% assign minute = content | number_of_words | divided_by: 265 | plus: 1 %}

<header class="page-header">
    <h1 itemprop="headline name">
        {{ page.title }}
    </h1>
    <div>
        by <span itemprop="author">{{ page.author.name | default: site.author.name }}</span>
    </div>


    {% comment %}{{ page.author }}{% endcomment %}
    {% comment %}<p><a itemprop="author" href=""></a></p>{% endcomment %}

    {% comment %}<div itemscope="" itemprop="author" itemtype="http://schema.org/Person"></div>{% endcomment %}


    {% comment %}{% assign author = site.authors| where: 'short_name', page.author | first %}{% endcomment %}

    {% capture author_avatar %}
        <picture>
            <source
                srcset="{{ author.avatar | relative_url }}?size=50&d=mm&r=g 1x"
                media="(min-width: 40em)">
            <source
                srcset="{{ author.avatar | relative_url }}?size=100&d=mm&r=g 2x, {{ author.avatar | relative_url }}?size=200&d=mm&r=g 4x"
                media="(min-width: 75em)">
            <img class="rounded-circle img-thumbnail"
                 src="{{ author.avatar | relative_url }}?size=50&d=mm&r=g"
                 alt="{{ author.name | escape }}"
                 width="50"
                 height="50"
                 loading="lazy"
                 decoding="async">
        </picture>
    {% endcapture %}

    {% assign author = site.author %}
    {% if author %}
        <div class="page-author">
            {% if author.avatar %}
                {% if author.url %}
                    <a href="{{ author.url | relative_url }}">
                        {{ author_avatar }}
                    </a>
                {% else %}
                    {{ author_avatar }}
                {% endif %}
            {% else %}
                {% if author.url %}
                    <a href="{{ author.url | relative_url }}">
                        {{ author.name }}
                    </a>
                {% else %}
                    {{ author.name }}
                {% endif %}
            {% endif %}


            {% comment %}<figure class="figure">{% endcomment %}
            {% comment %}<img src="..." class="figure-img img-fluid rounded" alt="...">{% endcomment %}
            {% comment %}<figcaption class="figure-caption">A caption for the above image.</figcaption>{% endcomment %}
            {% comment %}</figure>{% endcomment %}
            {% comment %}{% endcomment %}
            {% comment %}<img class="rounded-circle img-thumbnail"{% endcomment %}
            {% comment %}src="{{ author.avatar | relative_url }}?size=50"{% endcomment %}
            {% comment %}alt="{{ author.name | escape }}"{% endcomment %}
            {% comment %}width="50"{% endcomment %}
            {% comment %}height="50"{% endcomment %}
            {% comment %}data-holder-rendered="true">{% endcomment %}

            <div>
                author.url: {{ author.url }}
                {% if author.url %}
                    <a href="{{ author.url | relative_url }}">
                        {{ author.name }}
                    </a>
                {% else %}
                    {{ author.name }}
                {% endif %}
            </div>

            {% comment %}<div class="page-header-author">{% endcomment %}
            {% comment %}by <span itemprop="author">{{ post.author.name | default: site.author.name }}</span>{% endcomment %}
            {% comment %}</div>{% endcomment %}

            <div class="page-date-published">
                {{ page.date | date: "%b %-d, %Y" }}
            </div>

            <div class="page-reading-time">
                <i class="fa-regular fa-clock"></i>
                {% if page.minute %}
                    {{ page.minute }}
                {% else %}
                    {{ minute }}
                {% endif %}
                min read
            </div>
        </div>
    {% endif %}
</header>