---
layout: null
permalink: /atom.xml
# https://github.com/ptz0n/ptz0n.github.io/blob/master/docs/atom.xml
# https://validator.w3.org/feed/docs/atom.html
# https://www.ibm.com/docs/en/baw/19.x?topic=formats-atom-feed-format
# https://developers.google.com/gdata/docs/1.0/reference
---
{% comment %}<?xml version="1.0" encoding="{{ site.encoding }}"?>{% endcomment %}
<feed xmlns="http://www.w3.org/2005/Atom" xml:lang="{{ site.lang }}">
    <title>{{ site.title | xml_escape }}</title>
    <link href="{{ '/atom.xml' | absolute_url }}" rel="self" type="application/atom+xml"/>
    <link href="{{ '/rss.xml' | absolute_url }}" rel="self" type="application/rss+xml"/>
    <link href="{{ site.url }}"/>
    <updated>{{ site.time | date_to_xmlschema }}</updated>
    <id>{{ site.url | absolute_url }}</id>
    <author>
        <name>{{ site.author.name }}</name>
        <email>{{ site.author.email }}</email>
    </author>
    {% for post in site.posts %}
        <entry>
            <id>{{ post.url | absolute_url }}</id>
            <link type="text/html" rel="alternate" href="{{ post.url | absolute_url }}"/>
            <title>{{ post.title | xml_escape }}</title>
            <published>{{ post.date | date_to_xmlschema }}</published>
            <updated>{{ post.date | date_to_xmlschema }}</updated>
            <author>
                <name>{{ site.author.name }}</name>
                <email>{{ site.author.email }}</email>
                <uri>{{ site.url | absolute_url }}</uri>
            </author>
            <content type="html">
                {{ post.content | markdownify | strip_html | strip | truncatewords: 250 | xml_escape }}
            </content>
        </entry>
    {% endfor %}
</feed>