---
layout: null
permalink: /rss.xml
title: RSS Feed

# https://github.com/ptz0n/ptz0n.github.io/blob/master/docs/rss.xml
# https://cyber.harvard.edu/rss/rss.html
# https://github.com/programminghistorian/jekyll/blob/gh-pages/feed.xml
# https://webmaster.yandex.ru/site/https:soprun.com:443/turbo/sandbox/?taskId=&itemUrl=https%3A%2F%2Fsoprun.com%2Fsecurity-report&feedUrl=https%3A%2F%2Fsoprun.com%2Frss.xml&_tabId=tab716525
---
{%- comment %}<?xml version="1.0" encoding="{{ site.encoding }}"?>{% endcomment -%}
<rss version="2.0"
     xmlns:atom="http://www.w3.org/2005/Atom"
     xmlns:turbo="http://turbo.yandex.ru">
    <channel>
        <title>{{ site.title | strip_html | xml_escape }}</title>
        <description>{{ site.description | strip_html | xml_escape }}</description>
        <link>{{ site.url | absolute_url | xml_escape | truncate: 243 }}</link>
        <language>{{ site.lang }}</language>
        <atom:link href="{{ '/rss.xml' | absolute_url | uri_escape | xml_escape }}"
                   rel="self"
                   type="application/rss+xml"/>
        <lastBuildDate>{{ site.time | date_to_rfc822 | xml_escape }}</lastBuildDate>
        <pubDate>{{ site.time | date_to_rfc822 | xml_escape }}</pubDate>

        {% if site.logo %}
            <image>
                <url>{{ site.logo | absolute_url | xml_escape }}</url>
                <title>{{ site.title | xml_escape }}</title>
                <link>{{ site.url | absolute_url | xml_escape }}</link>
            </image>
        {% endif %}

        {% for post in site.posts limit: 20 %}
            <item turbo="true">
                <title>{{ post.title | strip_html | xml_escape | truncate: 90 }}</title>
                <description>
                    <![CDATA[
                    {{ post.excerpt | markdownify | newline_to_br | strip_html | normalize_whitespace | xml_escape | strip | truncate: 480 }}
                    ]]>
                </description>
                {%- comment %}<guid isPermaLink="true">{{ post.url | absolute_url | xml_escape | truncate: 500 }}</guid>{% endcomment %}
                <link>{{ post.url | absolute_url | xml_escape | truncate: 243 }}</link>
                <pubDate>{{ post.date | date_to_rfc822 | xml_escape }}</pubDate>

                {% if post.image %}
                    <image>
                        <url>{{ post.image | append: '?w=400&h=350&fit=min&crop=entropy,center&fm=webp&auto=compress' | xml_escape }}</url>
                        <title>{{ post.title | strip_html | xml_escape }}</title>
                        <link>{{ post.url | absolute_url | xml_escape }}</link>
                    </image>
                {% endif %}

                <turbo:extendedHtml>false</turbo:extendedHtml>
                <turbo:content>
                    <![CDATA[
                    <!-- Шапка -->
                    <header>
                        <h1>{{ post.title }}</h1>
                        {% if post.image %}
                            <figure>
                                <img
                                    src="{{ post.image | append: '?w=400&h=350&fit=min&crop=entropy,center&fm=webp&auto=compress' | xml_escape }}"
                                    alt="{{ post.title | escape }}"/>
                            </figure>
                        {% endif %}
                        {% comment %}<h2>Заголовок второго уровня</h2>{% endcomment %}
                        <menu>
                            <a href="http://example.com/page1.html">Текст ссылки</a>
                            <a href="http://example.com/page2.html">Текст ссылки</a>
                        </menu>
                    </header>
                    <!-- Контентная часть -->
                    {{ post.content | markdownify | normalize_whitespace | strip }}
                    ]]>
                </turbo:content>
            </item>
        {% endfor %}
    </channel>
</rss>