---
layout: null
permalink: /rss.xml
# https://github.com/ptz0n/ptz0n.github.io/blob/master/docs/rss.xml
# https://cyber.harvard.edu/rss/rss.html

---
{%- comment %}<?xml version="1.0" encoding="{{ site.encoding }}"?>{% endcomment -%}
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom" xml:lang="{{ site.lang }}">
    <channel>
        <title>{{ site.title | xml_escape }}</title>
        <link>{{ site.url | absolute_url }}</link>
        <description>{{ site.description | xml_escape }}</description>
        <language>{{ site.lang }}</language>
        <pubDate>{{ site.time | date_to_rfc822 }}</pubDate>
        <lastBuildDate>{{ site.time | date_to_rfc822 }}</lastBuildDate>

        <atom:link href="{{ '/rss.xml' | absolute_url }}" rel="self" type="application/rss+xml"/>

        {% if site.logo %}
            {% comment %}<image>{% endcomment %}
            {% comment %}<url>{{ site.logo | absolute_url | xml_escape }}</url>{% endcomment %}
            {% comment %}<title>{{ site.title | xml_escape }}</title>{% endcomment %}
            {% comment %}<link>{{ site.url | absolute_url | xml_escape }}</link>{% endcomment %}
            {% comment %}</image>{% endcomment %}
        {% endif %}

        {%- if site.author.email %}
            {% comment %}<managingEditor>{{ site.author.email }}</managingEditor>{% endcomment %}
        {% endif %}

        {%- if site.author.email %}
            {% comment %}<webMaster>{{ site.author.email }}</webMaster>{% endcomment %}
        {% endif %}

        {%- if site.copyright %}
            <copyright>{{ site.copyright | xml_escape }}</copyright>
        {% endif %}

        {%- comment %}<atom:link href="{{ '/rss.xml' | absolute_url }}" rel="self" type="application/rss+xml"/>{% endcomment %}

        {%- for post in site.posts -%}
            <item>
                <guid isPermaLink="true">{{ post.url | absolute_url | xml_escape }}</guid>
                <title>{{ post.title | xml_escape }}</title>
                <link>{{ post.url | absolute_url | xml_escape }}</link>
                <pubDate>{{ post.date | date_to_rfc822 }}</pubDate>

                <author>{{ post.author.email | default: site.author.email }}
                    ({{ post.author.name | default: site.author.name }})
                </author>
                {% comment %}https://cyber.harvard.edu/rss/rss.html#ltcategorygtSubelementOfLtitemgt{% endcomment %}
                {%- for category in post.categories %}
                    {% comment %}<category domain="http://www.fool.com/cusips">{{ category }}</category>{% endcomment %}
                    {% comment %}<category domain="{{ '/categories/' | append: category | absolute_url }}">{{ category }}</category>{% endcomment %}
                {% endfor %}
                {%- if post.image %}
                    {% comment %}<image>{% endcomment %}
                    {% comment %}<url>{{ post.image | absolute_url | xml_escape }}</url>{% endcomment %}
                    {% comment %}<title>{{ post.title | xml_escape }}</title>{% endcomment %}
                    {% comment %}<link>{{ post.url | absolute_url | xml_escape }}</link>{% endcomment %}
                    {% comment %}</image>{% endcomment %}
                {% endif %}

                <description>{{ post.excerpt | markdownify | truncatewords: 120 | xml_escape }}</description>
            </item>
        {% endfor %}
    </channel>
</rss>
