---
layout: null
permalink: /rss.xml
# https://github.com/ptz0n/ptz0n.github.io/blob/master/docs/rss.xml
---
<?xml version="1.0" encoding="{{ site.encoding }}"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom" xml:lang="{{ site.lang }}">
    <channel>
        <title>{{ site.title | xml_escape }}</title>
        <link>{{ site.url | absolute_url }}</link>
        <atom:link href="{{ '/rss.xml' | absolute_url }}" rel="self" type="application/rss+xml"/>
        <description>{{ site.description | xml_escape }}</description>
        <language>{{ site.lang }}</language>
        <pubDate>{{ site.time | date_to_xmlschema }}</pubDate>
        <lastBuildDate>{{ site.time | date_to_xmlschema }}</lastBuildDate>

        {% for post in site.posts %}
            <item>
                <title>{{ post.title | xml_escape }}</title>
                <link>{{ post.url | absolute_url }}</link>
                <pubDate>{{ post.date | date_to_rfc822 }}</pubDate>
                <author>{{ site.author.email }} ({{ site.author.name }})</author>
                <guid isPermaLink="true">{{ post.url | absolute_url }}</guid>
                <description>
                    {{ post.content | markdownify | strip_html | strip | truncatewords: 120 | xml_escape }}
                </description>
            </item>
        {% endfor %}
    </channel>
</rss>