---
layout: null
permalink: /atom.xml
title: Atom Feed

# https://github.com/ptz0n/ptz0n.github.io/blob/master/docs/atom.xml
# https://validator.w3.org/feed/docs/atom.html
# https://www.ibm.com/docs/en/baw/19.x?topic=formats-atom-feed-format
# https://developers.google.com/gdata/docs/1.0/reference
# https://github.com/plusjade/jekyll-bootstrap/blob/master/atom.xml
---
{%- comment %}<?xml version="1.0" encoding="{{ site.encoding }}"?>{% endcomment -%}
<feed xmlns="http://www.w3.org/2005/Atom">

    <title>{{ site.title | strip_html | xml_escape }}</title>
    <link href="{{ '/atom.xml' | absolute_url }}" rel="self" type="application/atom+xml"/>
    <link href="{{ '' | absolute_url }}"/>
    <updated>{{ site.time | date_to_xmlschema }}</updated>
    <id>{{ '' | absolute_url }}</id>
    <author>
        <name>{{ site.author.name | xml_escape }}</name>
        <email>{{ site.author.email }}</email>
    </author>

    {% for post in site.posts limit: 20 %}
        <entry>
            <title>{{ post.title | strip_html | xml_escape | truncate: 90 }}</title>
            <link href="{{ post.url | absolute_url }}"/>
            <updated>{{ post.date | date_to_xmlschema }}</updated>
            <id>{{ post.url | absolute_url }}</id>
            <content type="html">
                {{ post.content | markdownify | strip_html | normalize_whitespace | strip | xml_escape | truncate: 480 }}
            </content>
        </entry>
    {% endfor %}

</feed>