---
layout: ~
published: true
permalink: /signature.html
---
{%- include variables.liquid -%}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="text/html" http-equiv="Content-Type"/>
    <meta name="viewport" content="width=device-width"/>
    <title>Email Signature</title>
</head>
<body style="font-family: Helvetica, sans-serif;">
<table style="font-family: Helvetica, sans-serif;">
    <colgroup>
        <col style="width: 100px">
        <col style="width: 100%">
    </colgroup>
    <tbody>
    <tr>
        <td class="h-card photo" style="text-align: right;vertical-align: middle;">
            <img class="u-photo"
                 src="{{ site.author.photo }}"
                 alt="{{ site.author.name | escape }}"
                 title="{{ site.author.name | escape }}"
                 width="200"
                 height="200">
        </td>
        <td class="h-card content" style="text-align: left;vertical-align: middle">
            <span style="display: none">
                    <span class="dt-bday">{{ site.author.birthday }}</span>
                    <span class="p-sex">{{ site.author.gender }}</span>
                    <span class="p-country-name">{{ site.author.country }}</span>
                    <span class="p-region">{{ site.author.region }}</span>
                </span>
            <h1 style="margin: 0">
                <a class="p-name u-url"
                   href="{{ site.author.url }}"
                   target="_blank"
                   rel="me"
                   style="color: darkorange;white-space: nowrap">
                    {{ site.author.name | escape }}
                </a>
                <small class="p-role" style="white-space: nowrap;">{{ site.author.org.role | escape }}</small>
            </h1>
            <h4 class="h-card p-org" style="margin: 0">
                <a class="u-url p-name" href="{{ site.author.org.url }}"
                   target="_blank"
                   style="color: #010101;white-space: nowrap;">
                    {{ site.author.org.name | escape }}
                </a>
                {% comment %}<small style="white-space: nowrap">{{ site.author.org.unit | escape }}</small>{% endcomment %}
            </h4>
            <br>
            <b>Email 📧</b><br>
            <a class="grey u-email" href="mailto:{{ site.author.email }}">{{ site.author.email }}</a><br>
            <b>Phone 📞</b><br>
            <a class="p-tel" href="mailto:{{ site.author.phone }}">{{ site.author.phone }}</a><br>
            <b>Website 🧑‍💻</b><br>
            <a class="u-url"
               href="{{ site.author.url }}"
               target="_blank"
               rel="me">{{ site.author.url }}
            </a>
            <p class="footer" style="font-size: .8rem">
                <b style="color: darkorange">GPG 🪪</b><br>
                Если вы хотите мне отправить конфиденциальное или корпоративное письмо, то, пожалуйста, используйте мой
                публичный GPG для подписи электронных сообщений!<br>
                Fingerprint:
                <a href="{{ site.author.gpg_public_key }}" target="_blank">
                    <code class="u-key">{{ site.author.gpg_fingerprint }}</code>
                </a>
                <br>
                <a download="{{ site.url }}{{ site.baseurl }}{% link vcard.liquid %}"
                   href="{{ site.url }}{{ site.baseurl }}{% link vcard.liquid %}">
                    Сохранить контакты (vCard)
                </a>
            </p>
        </td>
    </tr>
    </tbody>
</table>
<style type="text/css">
    body {
        color: #010101;
        /*font-size: 1rem;*/
        font-family: "Avenir Next", "Arial",  serif;
        font-size: 10px;
        font-weight: 400;
        line-height: normal;
        margin: 0;
        padding: 0;
    }

    a {
        color: #409eff;
        text-decoration: none;
    }

    a:hover {
        color: #66b3ff;
        text-decoration: underline;
    }

    img {
        display: inline-block;
        border: none;
        height: auto;
        max-width: 100%;
    }

    .photo {
        visibility: hidden;
    }

    .footer {
        color: grey;
        /*font-size: .8rem;*/
        /*line-height: normal;*/
    }

    .footer:hover {
        color: #010101;
    }

    @media only screen and (min-width: 300px) {
        .photo {
            visibility: visible;
            width: 25%;
        }
    }

    @media only screen and (min-width: 767px) {
        body {
            font-size: 16px;
        }

        .photo {
            visibility: visible;
            width: 25%;
            padding-right: 1.5rem;
        }
    }
</style>
{% comment %}https://app.mysigmail.com/social{% endcomment %}
</body>
</html>

