---
layout: ~
published: true
permalink: /signature.html
---
{%- include variables.liquid -%}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="text/html" http-equiv="Content-Type"/>
    <meta name="viewport" content="width=device-width"/>
    <title>Email Signature</title>
</head>
<body style="font-family: Helvetica, sans-serif;">
<table style="font-family: Helvetica, sans-serif;">
    <colgroup>
        <col style="width: 100px">
        <col style="width: 100%">
    </colgroup>
    <tbody>
    <tr>
        <td class="h-card" style="text-align: center;vertical-align: middle;padding:1.5rem">
            <img class="u-photo"
                 src="{{ site.author.photo }}"
                 alt="{{ site.author.name | escape }}"
                 title="{{ site.author.name | escape }}"
                 width="200"
                 height="200">
        </td>
        <td class="h-card" style="text-align: left;vertical-align: middle">
            <span style="display: none">
                    <span class="dt-bday">{{ site.author.birthday }}</span>
                    <span class="p-sex">{{ site.author.gender }}</span>
                    <span class="p-country-name">Russia</span>
                    <span class="p-region">Moscow</span>
                </span>
            <h1 style="margin: 0">
                <a class="p-name u-url"
                   href="{{ site.author.url }}"
                   target="_blank"
                   rel="me">
                    {{ site.author.name | escape }}
                </a>
                <small class="p-role">{{ site.author.org.role | escape }}</small>
            </h1>
            <h3 class="h-card p-org" style="margin: 0">
                <a class="u-url p-name" href="{{ site.author.org.url }}" target="_blank">
                    {{ site.author.org.name | escape }}
                </a>
                <small>{{ site.author.org.unit | escape }}</small>
            </h3>
            <p><b>Email 📧</b><br>
                {% for i in site.author.emails limit: 5 %}
                    &nbsp;-&nbsp;
                    <a class="grey u-email" href="mailto:{{ i.value }}">{{ i.value }}</a><br>
                {% endfor %}
            </p>
            <p><b>Phone 📞</b><br>
                {% for i in site.author.phones limit: 5 %}
                    &nbsp;-&nbsp;
                    <a class="p-tel" href="tel:{{ i.value }}">{{ i.value }}</a><br>
                {% endfor %}
            </p>
            <p><b>Website 🧑‍💻</b><br>
                {% for i in site.author.urls limit: 5 %}
                    &nbsp;-&nbsp;
                    <a class="u-url"
                       href="{{ i.value }}"
                       target="_blank"
                       rel="me">{{ i.value }}
                    </a>
                    <br>
                {% endfor %}
            </p>
            <p class="footer">
                <b style="color: darkorange">GPG sign email 🪪</b><br>
                Если вы хотите мне отправить конфиденциальное или корпоративное письмо, то, пожалуйста, используйте мой
                публичный GPG для подписи электронных сообщений!<br>
                Fingerprint:
                <a href="{{ site.author.gpg_public_key }}" target="_blank">
                    <code class="u-key">{{ site.author.gpg_fingerprint }}</code>
                </a>
            </p>
            <p class="footer">
                <a download="{{ site.url }}{{ site.baseurl }}{% link vcard.liquid %}"
                   href="{{ site.url }}{{ site.baseurl }}{% link vcard.liquid %}">
                    Сохранить контакты (vCard)
                </a>
            </p>
        </td>
    </tr>
    </tbody>
</table>
<style type="text/css">
    :root {
        --color-body: #010101;
        --color-primary: #409eff;
        --color-primary-hover: #66b3ff;
    }

    body {
        color: var(--color-body);
        /*font-size: 1rem;*/
        font-size: small;
        font-weight: 400;
        line-height: 1.5;
        margin: 0;
        padding: 0;
    }

    a {
        color: var(--color-primary);
        text-decoration: none;
    }

    img {
        border: none;
        /*max-width: 100%;*/
    }

    a:hover {
        color: var(--color-primary-hover);
        text-decoration: underline;
    }

    .footer {
        color: grey;
        /*font-size: .8rem;*/
        /*line-height: normal;*/
        transition: color .15s ease-in-out;
    }

    .footer:hover {
        color: var(--color-body);
    }
</style>
{% comment %}https://app.mysigmail.com/social{% endcomment %}
</body>
</html>

