{% assign lazyload = include.lazyload %}

{% if lazyload == nil %}
    {% assign lazyload = true %}
{% endif %}

{% assign file = include.file %}
{% unless file %}
    {% assign file = 'https://via.placeholder.com/350' %}
{% endunless %}

{% assign alt = include.alt %}
{% unless alt %}
    {% assign alt = page.title | append: ' - ' | append: site.title %}
{% endunless %}

{% if lazyload == true %}
    {% assign src = 'data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==' %}
    {% assign data-src = file | relative_url %}
{% else %}
    {% assign src = file | relative_url %}
    {% assign data-src = '' %}
{% endif %}

{% capture figure_image %}
    <img src="{{ src }}"
         data-src="{{ data-src }}"
         class="figure-img img-fluid {% if lazyload == true %}lazyload {% endif %}{{ include.image_class }}"
        {% if include.width %}
            width="{{ include.width }}"
        {% endif %}
        {% if include.height %}
            height="{{ include.height }}"
        {% endif %}
         alt="{{ alt | strip_html | markdownify | strip_html | strip_newlines | escape | truncatewords: 30 }}"/>
{% endcapture %}

<figure class="figure {{ include.figure_class }}">
    {% if include.url %}
        <a href="{{ include.url | relative_url }}">
            {{ figure_image }}
        </a>
    {% else %}
        {{ figure_image }}
    {% endif %}

    {% if include.caption %}
        <figcaption class="figure-caption {{ include.caption_class }}">
            {{ include.caption | strip_html | markdownify | strip_html | strip_newlines | escape | truncatewords: 30 }}
        </figcaption>
    {% endif %}
</figure>