{%- assign excerpt_length = site.excerpt_length | default: 50 %}
{%- assign content_word_count = post.content | strip_html | number_of_words %}
{%- assign excerpt_word_count = post.excerpt | strip_html | number_of_words %}
{%- assign show_read_more = false %}
{%- assign show_title_link = false %}

{%- if content_word_count != excerpt_word_count or excerpt_word_count > excerpt_length %}
    {%- assign show_read_more = true %}
    {%- assign show_title_link = true %}
{% endif %}

<article id="post-{{ post.id }}" class="card mb-3 text-dark">
    <a href="{{ post.url | relative_url }}">
        <img class="card-img card-img-top"
             src="{{ post.image }}?w=450&h=300&fit=min&crop=entropy,center&fm=webp&auto=compress"
             alt="{{ post.title | escape }}">
    </a>
    {% comment %}<div class="card-header">Header</div>{% endcomment %}

    <div class="card-body text-muted pb-0">
        {% include page/page-header-date-published.liquid
            date=post.date
        %}
        {% comment %}include: page/page-header-author.liquid{% endcomment %}
        {% include page/page-header-reading-time.liquid
            content=post.content
        %}
    </div>
    <div class="card-body">
        <h5 class="card-title">
            <a class="text-decoration-none"
               href="{{ post.url | relative_url }}">
                {{ post.title | escape }}
            </a>
        </h5>
        {% if post.subtitle %}
            <h6 class="card-subtitle mb-2 text-muted">
                {{ post.subtitle | escape }}
            </h6>
        {% endif %}
        <div class="card-text">
            {% include page/page-content.liquid
                content=post.excerpt
            %}
        </div>
        {%- if show_read_more %}
            <a class="card-link text-decoration-none"
               href="{{ post.url | absolute_url }}">
                Continue reading...
                <i class="fa-solid fa-angles-right"></i>
            </a>
        {% endif %}
        {% comment %}<p class="card-text">{% endcomment %}
        {% comment %}<small class="text-muted">Last updated 3 mins ago</small>{% endcomment %}
        {% comment %}</p>{% endcomment %}
        {% comment %}<a href="#" class="btn btn-primary">Go somewhere</a>{% endcomment %}
    </div>
    {% comment %}<div class="card-body d-flex align-items-end"></div>{% endcomment %}
    <div class="card-footer">
        {% comment %}<small class="text-muted">Last updated 3 mins ago</small>{% endcomment %}
        {% include snippet/post/post-tags.liquid
            tags=post.tags
        %}
    </div>
</article>