{%- assign excerpt_length = site.excerpt_length | default: 50 %}
{%- assign content_word_count = post.content | strip_html | number_of_words %}
{%- assign excerpt_word_count = post.excerpt | strip_html | number_of_words %}
{%- assign show_read_more = false %}
{%- assign show_title_link = false %}

{%- if content_word_count != excerpt_word_count or excerpt_word_count > excerpt_length %}
    {%- assign show_read_more = true %}
    {%- assign show_title_link = true %}
{% endif %}

{% assign minute = post.content | number_of_words | divided_by: 265 | plus: 1 %}

<article id="post-{{ post.id }}" class="card mb-3 text-dark">
    <img class="card-img card-img-top"
         src="{{ post.image }}"
         alt="...">
    {% comment %}<div class="card-header">Header</div>{% endcomment %}

    <div class="card-body text-muted pb-0">
        <div class="page-header-date-published d-inline">
            <i class="fas fa-calendar-alt mr-2" aria-hidden="true"></i>
            Posted on {{ post.date | date: "%b %-d, %Y" }}
        </div>
        {% comment %}<div class="page-header-author">{% endcomment %}
        {% comment %}by <span itemprop="author">{{ post.author.name | default: site.author.name }}</span>{% endcomment %}
        {% comment %}</div>{% endcomment %}
        <div class="page-header-reading-time d-inline">
            <i class="fa-regular fa-clock" aria-hidden="true"></i>
            {% if post.minute %}
                {{ post.minute }}
            {% else %}
                {{ minute }}
            {% endif %}
            min read
        </div>
    </div>
    <div class="card-body">
        <h5 class="card-title">
            <a class="text-decoration-none"
               href="{{ post.url | relative_url }}">
                {{ post.title }}
            </a>
        </h5>
        {% if post.subtitle %}
            <h6 class="card-subtitle mb-2 text-muted">
                {{ post.subtitle }}
            </h6>
        {% endif %}
        <p class="card-text">
            {{ post.content | default: post.excerpt | markdownify | truncatewords: 30 }}
        </p>
        {%- if show_read_more %}
            <a class="card-link text-decoration-none"
               href="{{ post.url | absolute_url }}">
                Continue reading...
                <i class="fa-solid fa-angles-right"></i>
            </a>
        {% endif %}
        {% comment %}<p class="card-text">{% endcomment %}
        {% comment %}<small class="text-muted">Last updated 3 mins ago</small>{% endcomment %}
        {% comment %}</p>{% endcomment %}
        {% comment %}<a href="#" class="btn btn-primary">Go somewhere</a>{% endcomment %}
    </div>
    {% comment %}<div class="card-body d-flex align-items-end"></div>{% endcomment %}
    <div class="card-footer">
        {% comment %}<small class="text-muted">Last updated 3 mins ago</small>{% endcomment %}
        {% include snippet/post/post-tags.liquid
            tags=post.tags
        %}
    </div>
</article>