<header id="header" itemscope itemtype="http://schema.org/WPHeader">
    <meta itemprop="headline" content="{{ page_title }}">
    <meta itemprop="description" content="{{ page_description }}">
    <meta itemprop="keywords" content="{{ page_keywords }}">

    <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
        <div class="container-lg">
            <a class="navbar-brand" href="{{ site_url }}" rel="home">
                {% comment %}<img src="{{ site.logo | relative_url }}"{% endcomment %}
                {% comment %}width="30"{% endcomment %}
                {% comment %}height="30"{% endcomment %}
                {% comment %}class="d-inline-block align-top rounded-circle"{% endcomment %}
                {% comment %}alt="{{ site.title | escape }}">{% endcomment %}
                {{ site.short_title }}
            </a>
            <button class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navbarCollapse" class="collapse navbar-collapse">
                <nav class="navbar-nav me-auto mb-2 mb-md-0"
                     role="navigation"
                     itemscope
                     itemtype="https://www.schema.org/SiteNavigationElement">
                    {% for item in site.data.navigation %}
                        <li class="nav-item">
                            <a class="nav-link {%- if page.url == item.link %} active{% endif %}{%- if item.disabled %} disabled{% endif -%}"
                               itemprop="url"
                               href="{{ item.link | relative_url }}"
                               rel="{{ item.rel }}">
                                <span itemprop="name">
                                    {{ item.name }}
                                </span>
                            </a>
                        </li>
                    {% endfor %}
                </nav>
                {% comment %}<form class="d-flex" role="search">{% endcomment %}
                {% comment %}<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">{% endcomment %}
                {% comment %}<button class="btn btn-outline-success" type="submit">Search</button>{% endcomment %}
                {% comment %}</form>{% endcomment %}
            </div>
        </div>
    </nav>
</header>