<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="{% if page.noindex == true %}noindex,{% else %}follow, index{% endif %}"/>
    <base href="{{ '/' | absolute_url }}">

    <title>{% if page.title %}{{ page.title | append: ' - ' | append: site.title | escape | smartify }}{% else %}{{ site.title | smartify }}{% endif %}</title>

    {% seo title = false %}

    {% feed_meta %}

    <!-- You can set your favicon here -->
    <link rel="shortcut icon" type="image/x-icon" href="{{ 'favicon.ico' | absolute_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | absolute_url }}?v={{ site.env.CF_PAGES_COMMIT_SHA }}">

    {% include head/yandex-metrika.liquid %}
    {% include head/sentry.liquid %}
</head>