<head>
    <meta charset="{{ site.encoding }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% if page.date -%}
        <meta http-equiv="Last-Modified" content="{{ page.date | date_to_xmlschema }}"/>
    {%- endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="medium" content="blog"/>
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="{{ site.color.background }}"/>
    {% comment %}<meta name="author" content="{{ site.author.name }}">{% endcomment %}
    <meta name="reply-to" content="{{ site.author.email }}">
    <meta name="copyright" content="{{ copyright | strip_html }}">
    <meta name="keywords" content="{{ page_keywords }}">
    <meta name="robots" content="{% if page.noindex %}noindex, follow{% else %}index, follow{% endif %}"/>

    {%- comment %}<meta name="description" content="{{ meta_desc | truncate: 150 }}">{% endcomment %}
    {%- comment %}<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">{% endcomment %}
    {%- comment %}<meta name="apple-mobile-web-app-title" content="My App">{% endcomment %}
    {%- comment %}<meta name="referrer" content="no-referrer">{% endcomment %}

    {%- comment %}<meta name="apple-mobile-web-app-capable" content="yes">{% endcomment %}
    {%- comment %}<meta name="apple-mobile-web-app-title" content="{{ app_name }}">{% endcomment %}
    {%- comment %} content can be: default, black, black-translucent {% endcomment %}
    {%- comment %}<meta name="apple-mobile-web-app-status-bar-style" content="default">{% endcomment %}
    {%- comment %}<link rel="apple-touch-startup-image" href="{{ site.baseurl }}/assets/img/favicons/screensize.png">{% endcomment %}

    <base href="{{ base_url }}">

    {%- comment %}<title>{{ page_title | truncate: 118 }}</title>{% endcomment %}
    {% comment %}<meta name="description" content="{{ page_title | truncate: 254 }}"/>{% endcomment %}

    {% seo %}
    {% comment %}{% feed_meta %}{% endcomment %}

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-PM269NN');</script>
    <!-- End Google Tag Manager -->

    {% include styles.liquid %}
    {% include head/links.liquid %}
    {% include head/icons.liquid %}
    {% include head/sentry.liquid %}
    {% include head/yandex-metrika.liquid %}

    <!-- Marquiz script start -->
    <script>
        (function(w, d, s, o){
            var j = d.createElement(s); j.async = true; j.src = '//script.marquiz.ru/v2.js';j.onload = function() {
                if (document.readyState !== 'loading') Marquiz.init(o);
                else document.addEventListener("DOMContentLoaded", function() {
                    Marquiz.init(o);
                });
            };
            d.head.insertBefore(j, d.head.firstElementChild);
        })(window, document, 'script', {
                host: '//quiz.marquiz.ru',
                region: 'eu',
                id: '6404a072ac84b7004d8f1a05',
                autoOpen: false,
                autoOpenFreq: 'once',
                openOnExit: false,
                disableOnMobile: false
            }
        );
    </script>
    <!-- Marquiz script end -->
</head>