<head>
    <meta charset="{{ site.encoding }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Last-Modified" content="{{ page_last_modified_at }}"/>

    {% comment %}https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Referrer-Policy{% endcomment %}
    <meta name="referrer" content="strict-origin-when-cross-origin" />
    {% comment %}https://web.dev/referrer-best-practices/{% endcomment %}

    {% comment %}<a href="http://example.com" referrerpolicy="origin">{% endcomment %}
    {% comment %}https://w3c.github.io/webappsec-referrer-policy/#referrer-policy-delivery{% endcomment %}

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="medium" content="blog"/>
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="{{ site.color.background }}"/>
    {% comment %}<meta name="author" content="{{ site.author.name }}">{% endcomment %}
    <meta name="reply-to" content="{{ site.author.email }}">
    <meta name="copyright" content="{{ copyright | strip_html }}">
    <meta name="keywords" content="{{ page_keywords }}">
    <meta name="robots" content="{% if page.noindex %}noindex, follow{% else %}index, follow{% endif %}"/>

    {%- comment %}<meta name="description" content="{{ meta_desc | truncate: 150 }}">{% endcomment %}
    {%- comment %}<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">{% endcomment %}
    {%- comment %}<meta name="apple-mobile-web-app-title" content="My App">{% endcomment %}
    {%- comment %}<meta name="referrer" content="no-referrer">{% endcomment %}

    {%- comment %}<meta name="apple-mobile-web-app-capable" content="yes">{% endcomment %}
    {%- comment %}<meta name="apple-mobile-web-app-title" content="{{ app_name }}">{% endcomment %}
    {%- comment %} content can be: default, black, black-translucent {% endcomment %}
    {%- comment %}<meta name="apple-mobile-web-app-status-bar-style" content="default">{% endcomment %}
    {%- comment %}<link rel="apple-touch-startup-image" href="{{ site.baseurl }}/assets/img/favicons/screensize.png">{% endcomment %}

    <base href="{{ base_url }}">

    {%- comment %}<title>{{ page_title | truncate: 118 }}</title>{% endcomment %}
    {% comment %}<meta name="description" content="{{ page_title | truncate: 254 }}"/>{% endcomment %}

    {% seo %}
    {% comment %}{% feed_meta %}{% endcomment %}

    {% include styles.liquid %}
    {% include head/links.liquid %}
    {% include head/icons.liquid %}
    {% include head/sentry.liquid %}
    {% include head/yandex-metrika.liquid %}

    {% comment %}https://web.dev/learn/html/metadata/{% endcomment %}
</head>