{%- capture base_url -%}
    {%- assign page_url = site.baseurl | prepend: site.url %}
    {%- if jekyll.environment != 'production' and site.env.CF_PAGES_URL -%}
        {%- assign page_url = site.env.CF_PAGES_URL -%}
    {%- endif -%}
    {{- page_url | relative_url -}}
{%- endcapture -%}

{%- capture page_title -%}
    {{- page.title | default: site.title | strip_html | strip | escape | truncate: 70 -}}
{%- endcapture -%}

{%- capture page_description -%}
    {%- assign page_description = page.description | default: site.description -%}
    {%- if page.excerpt != empty -%}
        {%- assign page_description = page.excerpt -%}
    {%- endif -%}
    {{- page_description | strip_html | normalize_whitespace | strip_newlines | escape | truncate: 140 -}}
{%- endcapture -%}

{%- capture page_keywords -%}
    {%- assign page_keywords = page.tags | reverse -%}
    {%- assign page_keywords = page_keywords | concat: site.keywords | join: ', ' | escape | truncatewords: 10 -%}
    {{- page_keywords -}}
{%- endcapture -%}

{%- capture copyright -%}
    Copyright &copy; <span itemprop="copyrightYear">{{ "now" | date: "%Y" }}</span> {{ site.short_title }}
{%- endcapture -%}