<div class="sticky-top">
    <div class="row row-cols-1 pt-4">
        <p class="col text-center">
            <a href="{{ '/' | relative_url }}" target="_self">
                <picture id="sidebar-logo">
                    {% comment %}<source srcset="{{ '/assets/img/avatar-large.png' | relative_url }}" type="image/png" />{% endcomment %}
                    <source srcset="{{ '/assets/img/logo.webp' | relative_url }}" type="image/webp" />
                    <source srcset="{{ '/assets/img/logo.avif' | relative_url }}" type="image/avif" />
                    <source srcset="{{ '/assets/img/logo.png' | relative_url }}" type="image/png" />
                    <img
                        class="bg-info img-fluid rounded-circle"
                        loading="lazy"
                        decoding="async"
                        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdjOHPmzH8ACDADZKt3GNsAAAAASUVORK5CYII="
                        alt="{{ site.title | escape }}" />
                </picture>
            </a>
        </p>

        <p class="col text-center">
            <a href="{{ '/' | relative_url }}" class="fs-4 fw-light text-decoration-none">
                {{ site.data.author.author.name }}
            </a>
        </p>

        <p class="col text-center">
            {{ site.description }}
        </p>

        <div class="col">
            {% include navigation.liquid %}
        </div>

        <div class="col p-3">
            <table class="table table-borderless mb-0">
                <thead>
                <tr>
                    <td colspan="2" class="fs-6">
                        Contact
                    </td>
                </tr>
                </thead>
                <tbody>
                {% for link in site.data.links.links.contact %}
                    <tr>
                        <td>
                            {{ link.icon }}
                            {{ link.label }}
                        </td>
                        <td>
                            <a href="{{ link.url }}" class="fw-light text-decoration-none">
                                {{ link.title }}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                {% comment %}<tr>{% endcomment %}
                    {% comment %}<td colspan="2" class="fs-6">{% endcomment %}
                        {% comment %}Follow{% endcomment %}
                    {% comment %}</td>{% endcomment %}
                {% comment %}</tr>{% endcomment %}
                <tr>
                    <td colspan="2">
                        <div class="btn-group">
                            {% for link in site.data.links.links.follow %}
                                <a href="{{ link.url }}" class="btn fs-6" rel="noopener noreferrer" target="_blank">
                                    {{ link.icon }}
                                    <small>{{ link.title }}</small>
                                </a>
                            {% endfor %}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div id="sidebar-signature" class="text-muted">
                            You can use my <a href="https://github.com/soprun.gpg">OpenPGP public key</a>
                            to send an encrypted email message!
                            <br>
                            <code>B750 2F96 C5DC 44C2</code>
                            <i class="fa-solid fa-signature"></i>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    {% comment %}{% include snippet/public-links.liquid %}{% endcomment %}

    {% comment %}<div class="p-2">{% endcomment %}
    {% comment %}{% include snippet/latest-posts.liquid %}{% endcomment %}
    {% comment %}</div>{% endcomment %}
</div>