<div class="sticky-top">
    <div id="sidebar-header" class="p-4 mb-3 bg-light rounded">
        <div class="row">
            <div id="sidebar-logo" class="col col-12 col-md-auto col-sm-6">
                <a href="{{ '/' | relative_url }}" target="_self">
                    <picture class="text-center mb-3 d-block">
                        <img class="img-fluid mx-auto d-block rounded-circle"
                             src="{{ '/assets/img/avatar-small.png' | relative_url }}"
                             srcset="{{ '/assets/img/avatar-large.png' | relative_url }} 2x"
                             width="258px"
                             height="258px"
                             alt="{{ site.title | escape }}"/>
                    </picture>
                </a>
            </div>
            <div class="col">
                <p id="sidebar-title" class="mb-3">
                    <a href="{{ '/' | relative_url }}" class="fw-light text-decoration-none">
                        {{ site.name }}
                    </a>
                </p>
                <p id="sidebar-description" class="mb-0 text-secondary">
                    {{ site.description }}
                </p>
            </div>
        </div>
    </div>
    <div id="sidebar-footer">
        {% include navigation.liquid %}
        {% include snippet/public-links.liquid %}


        {% comment %}<div class="p-2">{% endcomment %}
            {% comment %}{% include snippet/latest-posts.liquid %}{% endcomment %}
        {% comment %}</div>{% endcomment %}
    </div>
</div>
