{% comment %}http://microformats.org/code/hcard/creator{% endcomment %}
{% comment %}http://microformats.org/wiki/hcard{% endcomment %}

<div class="vcard">
    <div class="d-none">
        <div class="fn n">
            <a class="url" href="{{ site.author.url }}">
                <span class="given-name">{{ site.author.first_name }}</span>
                <span class="family-name">{{ site.author.last_name }}</span>
            </a>
        </div>

        <div class="nickname">{{ site.author.nickname }}</div>

        <time class="bday">{{ site.author.birthday | date: "%Y-%m-%d" }}</time>

        <div class="org">{{ site.author.org.name }}</div>

        <a class="email" href="{{ site.author.email }}">
            {{ site.author.email }}
        </a>
    </div>

    <div id="sidebar-logo" class="text-center mb-3">
        <a href="{{ site.url | absolute_url }}"
           class="url"
           target="_self"
           rel="home"
           referrerpolicy="origin"
           itemprop="url">
            <picture itemprop="logo" itemtype="https://schema.org/ImageObject">
                {% comment %}<source srcset="{{ site.logo_webp | absolute_url }}" type="image/webp">{% endcomment %}
                <img
                    class="photo logo img-fluid rounded-circle"
                    width="150"
                    height="150"
                    itemprop="url image"
                    alt="{{ site.title | escape }}"
                    src="{{ site.logo_webp | absolute_url }}"
                    loading="lazy"
                    decoding="async"/>
            </picture>
        </a>
    </div>

    {% comment %}<section id="sidebar-nav">{% endcomment %}
    {%- comment %}{% include snippet/sidebar/navigation.liquid %}{% endcomment %}
    {% comment %}</section>{% endcomment %}
    {% comment %}rel="me"{% endcomment %}

    <div id="sidebar-author" class="text-center mb-3">
        <div class="fs-2 fw-light d-none">
            {% if site.author.url %}
                <a itemprop="name"
                   href="{{ site.url | absolute_url }}">
                    {{ site.author.name | newline_to_br }}
                </a>
            {% else %}
                {{ site.author.name | newline_to_br }}
            {% endif %}
        </div>
        <div class="fs-6 fw-light" itemprop="description">
            {{ site.author.description }}
        </div>
    </div>

    <div id="sidebar-contact" class="mb-3">
        {% comment %}https://habr.com/ru/company/yandex/blog/246003/{% endcomment %}
        {% include snippet/sidebar/sidebar-contact.liquid %}
    </div>

    {% comment %}TODO: Canonical Profiles on Sites{% endcomment %}
    {% comment %}https://microformats.org/wiki/hcard-examples#Canonical_Profiles_on_Sites{% endcomment %}
    {% comment %}https://microformats.org/wiki/hcard-authoring#Link_it_up{% endcomment %}
</div>

{% comment %}<section id="sidebar-channel" class="text-center d-none">{% endcomment %}
{% comment %}<a href="https://t.me/+YpCP4MsEorBmN2Qy"{% endcomment %}
{% comment %}rel="noopener noreferrer"{% endcomment %}
{% comment %}target="_blank">{% endcomment %}
{% comment %}<img src="{{ '/assets/img/tg-channel.jpg' | absolute_url }}"{% endcomment %}
{% comment %}class="img-fluid"{% endcomment %}
{% comment %}alt="{{ site.title | escape }}"{% endcomment %}
{% comment %}width="60%">{% endcomment %}
{% comment %}</a>{% endcomment %}
{% comment %}</section>{% endcomment %}

{% comment %}<section id="sidebar-quote" class="d-none">{% endcomment %}
{% comment %}{% include snippet/quote.liquid %}{% endcomment %}
{% comment %}</section>{% endcomment %}

{%- comment %}<section id="sidebar-stats">{% endcomment %}
{%- comment %}<img class="img-fluid"{% endcomment %}
{%- comment %}src="https://github-readme-stats.vercel.app/api?username=soprun&include_all_commits=true&hide=contribs&show_icons=true&count_private=true">{% endcomment %}
{%- comment %}</section>{% endcomment %}

{%- comment %}<section id="sidebar-contact" class="vcard">{% endcomment %}
{%- comment %}https://docs.github.com/en/rest/users/keys#list-public-keys-for-a-user{% endcomment %}
{%- comment %}List GPG keys for a user{% endcomment %}
{%- comment %}https://api.github.com/users/soprun/keys{% endcomment %}
{%- comment %}</section>{% endcomment %}

{%- comment %}<section id="sidebar-contact" class="vcard">{% endcomment %}
{%- comment %}https://docs.github.com/en/rest/users/gpg-keys#list-gpg-keys-for-a-user{% endcomment %}
{%- comment %}List public keys for a user{% endcomment %}
{%- comment %}https://api.github.com/users/soprun/gpg_keys{% endcomment %}
{%- comment %}</section>{% endcomment %}

{%- comment %}<section id="sidebar-hresume" class="vcard">{% endcomment %}
{%- comment %}{% include snippet/sidebar/sidebar-hresume.liquid %}{% endcomment %}
{%- comment %}</section>{% endcomment %}

{%- comment %}<section id="sidebar-hresume" class="vcard">{% endcomment %}
{%- comment %}<p style="float: left;">{% endcomment %}
{%- comment %}feeds:{% endcomment %}
{%- comment %}<a href="{{ '/atom.xml' | absolute_url }}" title="Atom 0.3 feed for all posts">posts</a>{% endcomment %}
{%- comment %}(<a href="https://validator.w3.org/feed/check.cgi?url=https://soprun.com/atom.xml">valid?</a>){% endcomment %}
{%- comment %}or <a href="http://lesscode.org/comments/feed/" title="RSS 2.0 feed for comments">comments</a>{% endcomment %}
{%- comment %}(<a href="http://feedvalidator.org/check.cgi?url=http://lesscode.org/comments/feed/">valid?</a>){% endcomment %}
{%- comment %}https://www.castfeedvalidator.com/?url=https://soprun.com/rss.xml{% endcomment %}
{%- comment %}</p>{% endcomment %}
{%- comment %}</section>{% endcomment %}

{%- comment %}{% include snippet/public-links.liquid %}{% endcomment %}
{%- comment %}<div class="p-2">{% endcomment %}
{%- comment %}{% include snippet/latest-posts.liquid %}{% endcomment %}
{%- comment %}</div>{% endcomment %}