<section id="sidebar-logo" class="vcard text-center">
    <a href="{{ site.url | absolute_url }}"
       target="_self"
       rel="home"
       referrerpolicy="origin"
       itemprop="url">
        <picture itemprop="logo"
                 itemtype="https://schema.org/ImageObject">
            <img
                class="logo img-fluid rounded-circle"
                width="150"
                height="150"
                itemprop="url image"
                srcset="{{ site.logo | absolute_url }}"
                alt="{{ site.title | escape }}"
                src="{{ site.logo | absolute_url }}"
                loading="lazy"
                decoding="async"/>
        </picture>
    </a>
</section>

<section id="sidebar-author" class="vcard text-center">
    <div class="fn fs-2 fw-light d-none">
        {% if site.author.url %}
            <a class="url"
               itemprop="name"
               referrerpolicy="origin"
               href="{{ site.url | absolute_url }}">
                {{ site.author.name }}
            </a>
        {% else %}
            {{ site.author.name | newline_to_br }}
        {% endif %}
    </div>
    <div class="fs-6 fw-light" itemprop="description">
        {{ site.author.description }}
    </div>
</section>

<section id="sidebar-nav">
    {%- comment %}{% include snippet/sidebar/navigation.liquid %}{% endcomment %}
</section>

<section id="sidebar-contact" class="vcard">
    {% comment %}https://habr.com/ru/company/yandex/blog/246003/{% endcomment %}
    {% include snippet/sidebar/sidebar-contact.liquid %}
</section>

{% comment %}<section id="sidebar-channel" class="text-center d-none">{% endcomment %}
    {% comment %}<a href="https://t.me/+YpCP4MsEorBmN2Qy"{% endcomment %}
       {% comment %}rel="noopener noreferrer"{% endcomment %}
       {% comment %}target="_blank">{% endcomment %}
        {% comment %}<img src="{{ '/assets/img/tg-channel.jpg' | absolute_url }}"{% endcomment %}
             {% comment %}class="img-fluid"{% endcomment %}
             {% comment %}alt="{{ site.title | escape }}"{% endcomment %}
             {% comment %}width="60%">{% endcomment %}
    {% comment %}</a>{% endcomment %}
{% comment %}</section>{% endcomment %}

<section id="sidebar-quote" class="d-none">
    {% include snippet/quote.liquid %}
</section>

{%- comment %}<section id="sidebar-stats">{% endcomment %}
{%- comment %}<img class="img-fluid"{% endcomment %}
{%- comment %}src="https://github-readme-stats.vercel.app/api?username=soprun&include_all_commits=true&hide=contribs&show_icons=true&count_private=true">{% endcomment %}
{%- comment %}</section>{% endcomment %}

{%- comment %}<section id="sidebar-contact" class="vcard">{% endcomment %}
{%- comment %}https://docs.github.com/en/rest/users/keys#list-public-keys-for-a-user{% endcomment %}
{%- comment %}List GPG keys for a user{% endcomment %}
{%- comment %}https://api.github.com/users/soprun/keys{% endcomment %}
{%- comment %}</section>{% endcomment %}

{%- comment %}<section id="sidebar-contact" class="vcard">{% endcomment %}
{%- comment %}https://docs.github.com/en/rest/users/gpg-keys#list-gpg-keys-for-a-user{% endcomment %}
{%- comment %}List public keys for a user{% endcomment %}
{%- comment %}https://api.github.com/users/soprun/gpg_keys{% endcomment %}
{%- comment %}</section>{% endcomment %}

{%- comment %}<section id="sidebar-hresume" class="vcard">{% endcomment %}
{%- comment %}{% include snippet/sidebar/sidebar-hresume.liquid %}{% endcomment %}
{%- comment %}</section>{% endcomment %}

{%- comment %}<section id="sidebar-hresume" class="vcard">{% endcomment %}
{%- comment %}<p style="float: left;">{% endcomment %}
{%- comment %}feeds:{% endcomment %}
{%- comment %}<a href="{{ '/atom.xml' | absolute_url }}" title="Atom 0.3 feed for all posts">posts</a>{% endcomment %}
{%- comment %}(<a href="https://validator.w3.org/feed/check.cgi?url=https://soprun.com/atom.xml">valid?</a>){% endcomment %}
{%- comment %}or <a href="http://lesscode.org/comments/feed/" title="RSS 2.0 feed for comments">comments</a>{% endcomment %}
{%- comment %}(<a href="http://feedvalidator.org/check.cgi?url=http://lesscode.org/comments/feed/">valid?</a>){% endcomment %}
{%- comment %}https://www.castfeedvalidator.com/?url=https://soprun.com/rss.xml{% endcomment %}
{%- comment %}</p>{% endcomment %}
{%- comment %}</section>{% endcomment %}

{%- comment %}{% include snippet/public-links.liquid %}{% endcomment %}
{%- comment %}<div class="p-2">{% endcomment %}
{%- comment %}{% include snippet/latest-posts.liquid %}{% endcomment %}
{%- comment %}</div>{% endcomment %}