<section id="sidebar-logo" class="vcard text-center">
    <a href="{{ '/' | relative_url }}" target="_self" rel="home" itemprop="url">
        <picture>
            <img
                class="logo img-fluid rounded-circle"
                width="150"
                height="150"
                srcset="{{ site.logo | relative_url }}"
                src="{{ site.logo | relative_url }}"
                alt="{{ site.title | escape }}"/>
        </picture>
    </a>
</section>

<section id="sidebar-author" class="vcard text-center">
    <hgroup>
        <h1 class="fn fs-2 fw-light">
            {% if site.author.url %}
                <a href="{{ site.url | relative_url }}" class="url">
                    {{ site.author.name }}
                </a>
            {% else %}
                {{ site.author.name | newline_to_br }}
            {% endif %}
        </h1>
        <h2 class="fs-6 fw-light">{{ site.author.description }}</h2>
    </hgroup>
</section>

<section id="sidebar-nav">
    {% comment %}{% include snippet/sidebar/navigation.liquid %}{% endcomment %}
</section>

<section id="sidebar-contact" class="vcard">
    {% include snippet/sidebar/sidebar-contact.liquid %}
</section>

<section id="sidebar-quote">
    {% include snippet/quote.liquid %}
</section>

{% comment %}<section id="sidebar-stats">{% endcomment %}
    {% comment %}<img class="img-fluid"{% endcomment %}
         {% comment %}src="https://github-readme-stats.vercel.app/api?username=soprun&include_all_commits=true&hide=contribs&show_icons=true&count_private=true">{% endcomment %}
{% comment %}</section>{% endcomment %}

{% comment %}<section id="sidebar-contact" class="vcard">{% endcomment %}
{% comment %}https://docs.github.com/en/rest/users/keys#list-public-keys-for-a-user{% endcomment %}
{% comment %}List GPG keys for a user{% endcomment %}
{% comment %}https://api.github.com/users/soprun/keys{% endcomment %}
{% comment %}</section>{% endcomment %}

{% comment %}<section id="sidebar-contact" class="vcard">{% endcomment %}
{% comment %}https://docs.github.com/en/rest/users/gpg-keys#list-gpg-keys-for-a-user{% endcomment %}
{% comment %}List public keys for a user{% endcomment %}
{% comment %}https://api.github.com/users/soprun/gpg_keys{% endcomment %}
{% comment %}</section>{% endcomment %}

{% comment %}<section id="sidebar-hresume" class="vcard">{% endcomment %}
{% comment %}{% include snippet/sidebar/sidebar-hresume.liquid %}{% endcomment %}
{% comment %}</section>{% endcomment %}

{% comment %}<section id="sidebar-hresume" class="vcard">{% endcomment %}
{% comment %}<p style="float: left;">{% endcomment %}
{% comment %}feeds:{% endcomment %}
{% comment %}<a href="{{ '/atom.xml' | relative_url }}" title="Atom 0.3 feed for all posts">posts</a>{% endcomment %}
{% comment %}(<a href="https://validator.w3.org/feed/check.cgi?url=https://soprun.com/atom.xml">valid?</a>){% endcomment %}
{% comment %}or <a href="http://lesscode.org/comments/feed/" title="RSS 2.0 feed for comments">comments</a>{% endcomment %}
{% comment %}(<a href="http://feedvalidator.org/check.cgi?url=http://lesscode.org/comments/feed/">valid?</a>){% endcomment %}
{% comment %}https://www.castfeedvalidator.com/?url=https://soprun.com/rss.xml{% endcomment %}
{% comment %}</p>{% endcomment %}
{% comment %}</section>{% endcomment %}

{% comment %}{% include snippet/public-links.liquid %}{% endcomment %}
{% comment %}<div class="p-2">{% endcomment %}
{% comment %}{% include snippet/latest-posts.liquid %}{% endcomment %}
{% comment %}</div>{% endcomment %}