{%- capture base_url -%}
    {%- assign page_url = site.baseurl | prepend: site.url %}
    {%- if jekyll.environment != 'production' and site.env.CF_PAGES_URL -%}
        {%- assign page_url = site.env.CF_PAGES_URL -%}
    {%- endif -%}
    {{- page_url | relative_url -}}
{%- endcapture -%}

{%- capture page_title -%}
    {{- page.title | default: site.title | strip_html | strip | escape | truncate: 70 -}}
{%- endcapture -%}

{%- capture page_description -%}
    {%- assign page_description = page.description | default: site.description -%}
    {%- if page.excerpt != empty -%}
        {%- assign page_description = page.excerpt -%}
    {%- endif -%}
    {{- page_description | strip_html | normalize_whitespace | strip_newlines | escape | truncate: 140 -}}
{%- endcapture -%}

{%- capture page_keywords -%}
    {{- page.tags | reverse | concat: site.keywords | join: ', ' | escape | truncatewords: 10 -}}
{%- endcapture -%}

{%- capture copyright -%}
    Copyright &copy; <span itemprop="copyrightYear">{{ "now" | date: "%Y" }}</span> {{ site.short_title }}
{%- endcapture -%}

{% comment %}original{% endcomment %}

{% capture author_avatar %}
    <picture>
        <source
            srcset="{{ site.author.avatar | relative_url }}?size=100&d=mm&r=g 1x"
            media="(min-width: 40em)">
        <source
            srcset="{{ site.author.avatar | relative_url }}?size=200&d=mm&r=g 2x, {{ site.author.avatar | relative_url }}?size=400&d=mm&r=g 4x"
            media="(min-width: 75em)">
        <img class="rounded-circle img-thumbnail"
             src="{{ site.author.avatar | relative_url }}?size=100&d=mm&r=g"
             alt="{{ site.author.name | escape }}"
             {% comment %}width="50"{% endcomment %}
             {% comment %}height="50"{% endcomment %}
             {% comment %}loading="lazy"{% endcomment %}
             decoding="async">
    </picture>
{% endcapture %}


{% comment %}https://microformats.org/wiki/existing-rel-values{% endcomment %}

{% capture rel %}
    {% comment %}rel value{% endcomment %}

    {% comment %}{%- assign page_url = site.baseurl | prepend: site.url %}{% endcomment %}

    {{- page.title -}}
{% endcapture %}


