{% assign minute = content | number_of_words | divided_by: 265 | plus: 1 %}

<header class="page-header">
    <h1 class="page-header-headline" itemprop="headline name">
        <a href="{{ page.url | relative_url }}">
            {{ page.title | escape }}
        </a>
    </h1>

    <div class="page-header-meta">
        <div class="page-header-date-published">
            <i class="fas fa-calendar-alt mr-2" aria-hidden="true"></i>
            Posted on {{ page.date | date: "%b %-d, %Y" }}
        </div>
        <div class="page-header-author">
            by <span itemprop="author">{{ page.author.name | default: site.author.name }}</span>
        </div>
        <div class="page-header-reading-time">
            <i class="fa-regular fa-clock" aria-hidden="true"></i>
            {% if page.minute %}
                {{ page.minute }}
            {% else %}
                {{ minute }}
            {% endif %}
            min read
        </div>
    </div>

    <div class="page-header-tags">
        {% include snippet/post/post-tags.liquid
            tags=page.tags
        %}
    </div>

    <div class="page-header-categories">
        {% include snippet/post/post-categories.liquid
            categories=page.categories
        %}
    </div>
</header>