{% assign title = include.title | default: page.title | escape %}
{% assign url = include.url | default: page.url %}
{% assign show_title_link = include.show_title_link | default: page.show_title_link %}

{% if title %}
    <h1 class="post-title text-center {% if page.page_show_title == false %}d-none{% endif %}"
        itemprop="headline">
        {% if show_title_link == false or show_read_more == false %}
            {{ title }}
        {% else %}
            <a href="{{ url | relative_url }}"
               aria-label="{{ title }}"
               itemprop="mainEntityOfPage">
                {{ title }}
            </a>
        {% endif %}
    </h1>

    {% if page.subtitle != empty %}
        <h2 class="text-center fs-4 text-dark">
            {{ page.subtitle }}
        </h2>
    {% endif %}
{% endif %}
