<header>
    {% comment %}https://answerthepublic.com/dert0q/reports/d4cd0d3a-99d6-424a-8b02-441dee852e02/edit{% endcomment %}

    {%- if script.header.title != empty -%}
        {% comment %}<h1>{{ script.header.title }}</h1>{% endcomment %}
    {%- endif -%}

    {%- if script.header.description != empty -%}
        {% comment %}<p>{{ script.header.description }}</p>{% endcomment %}
    {%- endif -%}

    {{ script.header.description | markdownify }}

    <!--more-->

    <h2>Какая ценность этого решения?</h2>
    <ul>
        {% for item in script.header.value %}
            <li>{{ item }}</li>
        {% endfor %}
    </ul>

    <h2>Какие боли закрывает внедрение этого решения?</h2>
    <ul>
        {% for item in script.header.pain %}
            <li>{{ item }}</li>
        {% endfor %}
    </ul>

    <hr>

    <h2>Content</h2>

    {{ script.content.object | markdownify }}

    {% if script.content.value != empty %}
        <h3>Для чего, зачем и в чем смысл?</h3>

        {{ script.content.value | markdownify }}
    {% endif %}

    {%- assign content_whom = script.content.whom | sort -%}
    {%- assign content_whom_size = script.content.whom | size -%}

    {% if content_whom_size != 0 %}
        <h3>Для кого (кто потребитель)?</h3>
        <ul>
            {% for item in content_whom %}
                <li>
                    {% include scripts/role.liquid role=item %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {%- assign content_initiator = script.content.initiator | sort -%}
    {%- assign content_initiator_size = script.content.initiator | size -%}

    {% if content_initiator_size != 0 %}
        <h3>Кто должен быть инициатором внедрения решения?</h3>
        <ul>
            {% for item in content_initiator %}
                <li>
                    {% include scripts/role.liquid role=item %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</header>
