<header>

    {% comment %}<pre>{% endcomment %}
    {% comment %}{{ script }}{% endcomment %}
    {% comment %}</pre>{% endcomment %}

    {%- if script.header.title != empty -%}
        {% comment %}<h1>{{ script.header.title }}</h1>{% endcomment %}
    {%- endif -%}

    {%- if script.header.description != empty -%}
        {% comment %}<p>{{ script.header.description }}</p>{% endcomment %}
    {%- endif -%}


    <h2>Какая ценность этого решения?</h2>
    <ul>
        {% for item in script.header.value %}
            <li>{{ item }}</li>
        {% endfor %}
    </ul>

    <h2>Какие боли закрывает внедрение этого решения?</h2>
    <ul>
        {% for item in script.header.pain %}
            <li>{{ item }}</li>
        {% endfor %}
    </ul>

    <hr>

    <h2>Content</h2>

    {{ script.content.object | markdownify }}

    {% if script.content.value != empty %}
        <h3>Для чего, зачем и в чем смысл?</h3>

        {{ script.content.value | markdownify }}
    {% endif %}

    {% if script.content.whom %}
        <h3>Для кого (кто потребитель)?</h3>
        <ul>
            {% for item in script.content.whom %}
                <li>
                    {% include scripts/role.liquid role=item %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if script.content.initiator %}
        <h3>Кто должен быть инициатором внедрения решения?</h3>
        <ul>
            {% for item in script.content.initiator %}
                <li>
                    {% include scripts/role.liquid role=item %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</header>
