<table class="table table-borderless"
       itemprop="author"
       itemscope
       itemtype="https://schema.org/Person">
    <thead>
    <tr>
        <td colspan="2">
            <span class="fs-6">Мои контакты</span>
        </td>
    </tr>
    </thead>
    <tbody>
    {% for link in site.data.links.contact %}
        <tr class="{{ link.vcard }}">
            <td>
                {{ link.icon }}
                <span class="type">{{ link.label }}</span>
            </td>
            <td>
                <a href="{{ link.url | absolute_url }}" rel="me" class="fw-light">
                    <span class="value">{{ link.title }}</span>
                </a>
            </td>
        </tr>
    {% endfor %}
    <tr class="d-none">
        <td colspan="2" class="fs-6">
            Мои страницы
        </td>
    </tr>
    <tr class="d-none">
        <td colspan="2">
            <div class="btn-group">
                {% for link in site.data.links.social_links %}
                    <a href="{{ link.url | absolute_url}}"
                       class="btn fs-6"
                       itemprop="sameAs"
                       rel="external"
                       target="_blank">
                        {{ link.icon }}
                        <small>{{ link.title }}</small>
                    </a>
                {% endfor %}
            </div>
        </td>
    </tr>
    {% comment %}<tr>{% endcomment %}
    {% comment %}<td class="text-muted fs-6" colspan="2">{% endcomment %}
    {% comment %}{% comment %}https://www.bjornjohansen.com/secure-email{% endcomment %}{% endcomment %}
    {% comment %}Send me a secure email message{% endcomment %}
    {% comment %}<i class="fa-solid fa-signature" aria-hidden="true"></i>{% endcomment %}
    {% comment %}</td>{% endcomment %}
    {% comment %}</tr>{% endcomment %}
    {% comment %}<tr>{% endcomment %}
    {% comment %}<td class="text-muted" colspan="2">{% endcomment %}
    {% comment %}<p>{% endcomment %}
    {% comment %}If you want to email me, my fingerprint is:<br>{% endcomment %}
    {% comment %}<code>8120&nbsp;2130&nbsp;55C8&nbsp;4C2C&nbsp;3324</code>{% endcomment %}
    {% comment %}</p>{% endcomment %}
    {% comment %}<p>{% endcomment %}
    {% comment %}<a href="https://github.com/soprun.gpg"{% endcomment %}
    {% comment %}rel="noopener noreferrer"{% endcomment %}
    {% comment %}target="_blank">{% endcomment %}
    {% comment %}My full OpenPGP (GnuPG) public key is also available here.{% endcomment %}
    {% comment %}</a>{% endcomment %}
    {% comment %}</p>{% endcomment %}
    {% comment %}</td>{% endcomment %}
    {% comment %}</tr>{% endcomment %}
    </tbody>
</table>