<table class="table table-borderless"
       itemprop="author"
       itemscope
       itemtype="https://schema.org/Person">
    <thead>
    <tr>
        <td colspan="2" class="fs-6">
            Contact
        </td>
    </tr>
    </thead>
    <tbody>
    {% for link in site.data.links.contact %}
        <tr>
            <td>
                {{ link.icon }}
                {{ link.label }}
            </td>
            <td>
                <a href="{{ link.url }}" class="fw-light text-decoration-none">
                    {{ link.title }}
                </a>
            </td>
        </tr>
    {% endfor %}
    <tr>
        <td colspan="2" class="fs-6">
            You can find me on
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <div class="btn-group">
                {% for link in site.data.links.follow %}
                    <a href="{{ link.url }}"
                       class="btn fs-6"
                       itemprop="sameAs"
                       rel="external"
                       target="_blank">
                        {{ link.icon }}
                        <small>{{ link.title }}</small>
                    </a>
                {% endfor %}
            </div>
        </td>
    </tr>
    <tr>
        <td class="text-muted fs-6" colspan="2">
            {% comment %}https://www.bjornjohansen.com/secure-email{% endcomment %}
            Send me a secure email message
            <i class="fa-solid fa-signature" aria-hidden="true"></i>
        </td>
    </tr>
    <tr>
        <td class="text-muted" colspan="2">
            <p>
                If you want to email me, my fingerprint is:<br>
                <code>8120&nbsp;2130&nbsp;55C8&nbsp;4C2C&nbsp;3324</code>
            </p>
            <p>
                <a href="https://github.com/soprun.gpg"
                   rel="noopener noreferrer"
                   target="_blank">
                    My full OpenPGP (GnuPG) public key is also available here.
                </a>
            </p>
        </td>
    </tr>
    </tbody>
</table>