<table class="table table-borderless"
       itemprop="author"
       itemscope
       itemtype="https://schema.org/Person">
    <thead>
    <tr>
        <td colspan="2" class="fs-6">
            Contact
        </td>
    </tr>
    </thead>
    <tbody>
    {% for link in site.data.links.contact %}
        <tr>
            <td>
                {{ link.icon }}
                {{ link.label }}
            </td>
            <td>
                <a href="{{ link.url }}" class="fw-light text-decoration-none">
                    {{ link.title }}
                </a>
            </td>
        </tr>
    {% endfor %}
    <tr>
        <td colspan="2">
            <div class="btn-group">
                {% for link in site.data.links.follow %}
                    <a href="{{ link.url }}"
                       class="btn fs-6"
                       itemprop="sameAs"
                       rel="external"
                       target="_blank">
                        {{ link.icon }}
                        <small>{{ link.title }}</small>
                    </a>
                {% endfor %}
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            {% include snippet/sidebar/sidebar-contact-signature.liquid %}
        </td>
    </tr>
    </tbody>
</table>