---
layout: ~
published: true
permalink: /signature.html
noindex: true
---

<table>
    <tbody>
    <tr>
        <td class="h-card photo" style="text-align: right;vertical-align: middle;">
            <img class="u-photo"
                {% comment %}src="data:image/png;base64,{{ "assets/img/avatar-small.png" | encode_base64_hash }}"{% endcomment %}
                 src="{{ site.author.photo }}"
                 alt="{{ site.author.name | escape }}"
                 title="{{ site.author.name | escape }}"
                 width="100"
                 height="100"
                 loading="lazy"
                 decoding="async">
        </td>
        <td class="h-card content" style="text-align: left;vertical-align: middle;font-size: .8rem">
            {% comment %}
            {% include snippet/url-builder.liquid
                url="http://jekyllrb.com"
                utm_source="signature"
                utm_medium="email"
                utm_campaign="signature"
            %}
            {% endcomment %}

            {% comment %}?utm_source=signature&utm_medium=email&utm_campaign=signature{% endcomment %}

            {% comment %}<div style="font-size: 0.9em">{% endcomment %}
            {% comment %}{{ site.author.org.unit | escape }}{% endcomment %}
            {% comment %}</div>{% endcomment %}

            <table style="font-size: inherit">
                <tr>
                    <td colspan="2">
                        <div style="color: darkorange;font-size: 1.8rem">
                            {{ site.author.name }}
                        </div>
                        <div style="font-size: .85rem">
                            {{ site.author.org.role }}
                            <!--
                            {% if site.author.org.name %}
                                <span>/</span>
                                <small>
                                    {% if site.author.org.url %}
                                        <a class="u-url p-name" href="{{ site.author.org.url }}" target="_blank">
                                            {{ site.author.org.name | escape }}
                                        </a>
                                    {% else %}
                                        {{ site.author.org.name | escape }}
                                    {% endif %}
                                </small>
                            {% endif %}
                            -->
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Email 📧</td>
                    <td>
                        <a class="grey u-email" href="mailto:{{ site.author.email | escape }}">
                            {{ site.author.email | escape }}
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>Phone 📞</td>
                    <td>
                        <a class="p-tel" href="tel:{{ site.author.phone | escape }}">
                            {{ site.author.phone | escape }}
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>Website 📝</td>
                    <td>
                        <a class="u-url"
                           href="{{ site.author.url | escape }}"
                           target="_blank"
                           rel="me">
                            {{ site.author.url | escape }}
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>GPG 🪪‍</td>
                    <td>
                        <a href="{{ site.author.gpg_public_key | escape }}" target="_blank">
                            {{ site.author.gpg_fingerprint_short | escape }}
                        </a>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <a download="{{ site.url }}{{ site.baseurl }}{% link tools/vcard.liquid %}"
                           href="{{ site.url }}{{ site.baseurl }}{% link tools/vcard.liquid %}"
                           style="font-size: .8rem;color: grey">
                            Сохранить контакты (vCard)
                        </a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    </tbody>
</table>
<style>
    body {
        color: #010101;
        font-family: "Avenir Next", "Arial", serif;
        font-weight: 400;
        line-height: normal;
        margin: 0;
        padding: 0;
    }

    a {
        color: #409eff;
        text-decoration: none;
    }

    a:hover {
        color: #66b3ff;
        text-decoration: underline;
    }

    img {
        display: inline-block;
        border: none;
        height: auto;
        max-width: 100%;
    }

    .photo {
        visibility: hidden;
    }

    @media only screen and (min-width: 300px) {
        .photo {
            visibility: visible;
            width: 25%;
        }
    }

    @media only screen and (min-width: 767px) {
        body {
            font-size: 16px;
        }

        .photo {
            visibility: visible;
            width: 25%;
            /*min-width: 150px;*/
            padding: .5rem;
        }
    }
</style>
{% comment %}https://app.mysigmail.com/social{% endcomment %}