---
layout: default
---

{%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
{%- endif -%}

{{ content }}

{% if site.paginate %}
    {% assign posts = paginator.posts %}
{% else %}
    {% assign posts = site.posts %}
{% endif %}

{%- if posts.size > 0 -%}

    {%- if page.list_title -%}
        <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}

    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}

    <div class="row row-cols-1 row-cols-md-1 g-4">

        {%- for post in posts -%}
            {% comment %}<li class="clearfix">{% endcomment %}
            {% comment %}<img src="https://picsum.photos/200?id={{ post.id }}"{% endcomment %}
            {% comment %}itemprop="image"{% endcomment %}
            {% comment %}class="img-fluid rounded-start"{% endcomment %}
            {% comment %}alt="{{ post.title | strip_html | truncatewords: 160 }}"{% endcomment %}
            {% comment %}style="float: left;margin: 1em">{% endcomment %}
            {% comment %}{% endcomment %}
            {% comment %}<span class="post-meta">{{ post.date | date: date_format }}</span>{% endcomment %}
            {% comment %}{% endcomment %}
            {% comment %}<h3>{% endcomment %}
            {% comment %}<a class="post-link" href="{{ post.url | relative_url }}">{% endcomment %}
            {% comment %}{{ post.title | escape }}{% endcomment %}
            {% comment %}</a>{% endcomment %}
            {% comment %}</h3>{% endcomment %}
            {% comment %}{% endcomment %}
            {% comment %}<p>{{ post.excerpt | strip_html | escape | truncatewords: 30 }}</p>{% endcomment %}
            {% comment %}{% endcomment %}
            {% comment %}<a href="{{ post.url }}" class="card-link">{% endcomment %}
            {% comment %}Read More{% endcomment %}
            {% comment %}</a>{% endcomment %}
            {% comment %}</li>{% endcomment %}

            <div class="col">
                <div class="card-deck">
                    <div class="card">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Last updated 3 mins ago</small>
                        </div>
                    </div>
                    <div class="card">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This card has supporting text below as a natural lead-in to additional
                                content.</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Last updated 3 mins ago</small>
                        </div>
                    </div>
                    <div class="card">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This card has even longer content than the first to show that equal
                                height action.</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Last updated 3 mins ago</small>
                        </div>
                    </div>
                </div>
            </div>

        {%- endfor -%}
    </div>

    {% if site.paginate %}
        <div class="pager">
            <ul class="pagination">
                {%- if paginator.previous_page %}
                    <li>
                        <a href="{{ paginator.previous_page_path | relative_url }}"
                           class="previous-page">{{ paginator.previous_page }}</a>
                    </li>
                {%- else %}
                    <li>
                        <div class="pager-edge">•</div>
                    </li>
                {%- endif %}
                <li>
                    <div class="current-page">{{ paginator.page }}</div>
                </li>
                {%- if paginator.next_page %}
                    <li>
                        <a href="{{ paginator.next_page_path | relative_url }}"
                           class="next-page">{{ paginator.next_page }}</a>
                    </li>
                {%- else %}
                    <li>
                        <div class="pager-edge">•</div>
                    </li>
                {%- endif %}
            </ul>
        </div>
    {%- endif %}
{%- endif -%}