---
layout: default
---

{% if site.paginate %}
    {% assign posts = paginator.posts %}
{% else %}
    {% assign posts = site.posts %}
{% endif %}

{%- if posts.size > 0 -%}
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}

    <div class="row row-cols-1">
        {% for post in posts %}
            <article class="post-card col bg-light rounded">

                {% include snippet/post-card-thumbnail.liquid
                    file=post.thumbnail
                    alt=post.title
                %}

                <div class="post-card-body">
                    <h1 class="post-card-title">
                        <a href="{{ post.url }}">
                            {{ post.title }}
                        </a>
                    </h1>

                    <p class="post-card-subtitle">
                        <time class="text-muted" itemprop="datePublished"
                              datetime="{{ post.date | date: '%Y-%m-%d' }}">
                            <i class="fas fa-calendar-alt mr-2"></i>
                            {{ post.date | date_to_long_string }}
                        </time>
                    </p>

                    <p class="post-card-preview">
                        {% comment %}{{ post.excerpt | strip_html | markdownify | strip_html | strip_newlines | truncatewords: 160 }}{% endcomment %}
                        {{ post.excerpt | truncatewords: 160 }}
                        {% comment %}{{ post.content | strip_html | markdownify | strip_html | strip_newlines | truncatewords: 160 }}{% endcomment %}
                    </p>

                    <div class="post-card-tags">
                        {% assign tags_size = post.tags | size %}
                        {% if tags_size != 0 %}
                            <div class="card-text">
                                <span>Tags:</span>
                                {% for tag in post.tags %}
                                    <span class="badge bg-primary">{{ tag }}</span>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </article>
        {% endfor %}
    </div>

    {% if site.paginate %}
        <div class="pager d-none">
            <ul class="pagination">
                {%- if paginator.previous_page %}
                    <li>
                        <a href="{{ paginator.previous_page_path | relative_url }}"
                           class="previous-page">{{ paginator.previous_page }}</a>
                    </li>
                {%- else %}
                    <li>
                        <div class="pager-edge">•</div>
                    </li>
                {%- endif %}
                <li>
                    <div class="current-page">{{ paginator.page }}</div>
                </li>
                {%- if paginator.next_page %}
                    <li>
                        <a href="{{ paginator.next_page_path | relative_url }}"
                           class="next-page">{{ paginator.next_page }}</a>
                    </li>
                {%- else %}
                    <li>
                        <div class="pager-edge">•</div>
                    </li>
                {%- endif %}
            </ul>
        </div>
    {%- endif %}
{%- endif -%}