---
layout: default
---

{% if site.paginate %}
    {% assign posts = paginator.posts %}
{% else %}
    {% assign posts = site.posts %}
{% endif %}

{% if posts.size > 0 %}
    <div class="row row-cols-1"
         itemscope
         itemtype="http://schema.org/Blog">

        <meta name="author" content="{{ site.title }}">
        <meta itemprop="name" content="{{ site.title }}">
        <meta itemprop="description" content="{{ site.description | strip_html }}">

        <div itemprop="publisher"
             itemscope
             itemtype="https://schema.org/Organization">
            <!-- Указываем издателя, логотип и контакты -->
            <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
                <link itemprop="url image" href="{{ '/assets/img/logo.png' | absolute_url }}">
                <meta content="120" itemprop="width">
                <meta content="120" itemprop="height">
            </div>
            <meta content="{{ site.title }}" itemprop="name">
        </div>

        {% for post in posts %}
            <article id="post-{{ post.id }}"
                     class="post-card col"
                     itemprop="blogPosts"
                     itemscope
                     itemtype="http://schema.org/BlogPosting">

                <meta itemprop="name" content="{{ post.title }}" />
                <meta itemprop="keywords" content="{{ page.tags | join: ',' }}" />
                <meta itemprop="description" content="{{ content | strip_html | truncatewords: 40 }}" />
                <meta itemprop="url" content="{{ post.url | relative_url }}">
                <meta itemprop="thumbnailUrl" content="https://images.weserv.nl/?url={{ post.thumbnail | relative_url }}&fit=cover&maxage=1d">
                <meta itemprop="image" content="https://images.weserv.nl/?url={{ post.thumbnail | relative_url }}&fit=cover&maxage=1d">
                <meta itemprop="mainEntityOfPage" content="{{ post.url | absolute_url }}">
                <meta itemscope
                      itemprop="mainEntityOfPage"
                      itemType="https://schema.org/WebPage"
                      itemid="{{ post.url | absolute_url }}"/>

                <a href="{{ post.url | absolute_url }}"
                   class="post-card-thumbnail"
                   itemprop="url">
                    {% include snippet/post/post-thumbnail.liquid
                        src=post.thumbnail
                        alt=post.title
                    %}
                </a>
                <div class="post-card-body">
                    <header class="post-card-header">
                        {% include snippet/post/post-title.liquid
                            title=post.title
                            url=post.url
                        %}
                        {% include snippet/post/post-meta.liquid
                            date=post.date
                            modified_date=post.modified_date
                        %}
                    </header>
                    <div class="post-card-content">
                        {% include snippet/post/post-content.liquid
                            content=post.excerpt
                        %}
                    </div>
                    <footer class="post-card-footer">
                        {% include snippet/post/post-tags.liquid
                            tags=post.tags
                        %}
                    </footer>
                </div>
            </article>
        {% endfor %}
    </div>
    {% comment %}{% include snippet/paginate.liquid %}{% endcomment %}
{% endif %}