---
layout: default
---

{% if site.paginate %}
    {% assign posts = paginator.posts %}
{% else %}
    {% assign posts = site.posts %}
{% endif %}

{% if posts.size > 0 %}
    <div class="row row-cols-1">
        {% for post in posts %}
            <article id="{{ post.id }}" class="post-card col bg-light rounded">
                <a href="{{ post.url }}" class="post-card-thumbnail">
                    {% include snippet/post/post-thumbnail.liquid
                        file=post.thumbnail
                        alt=post.title
                    %}
                </a>

                <div class="post-card-body">
                    {% include snippet/post/post-title.liquid
                        title=post.title
                        url=post.url
                    %}
                    {% include snippet/post/post-meta.liquid
                        date=post.date
                        modified_date=post.modified_date
                        class="text-muted"
                    %}
                    <div class="post-card-preview">
                        {% comment %}{{ post.excerpt | strip_html | markdownify | strip_html | strip_newlines | truncatewords: 160 }}{% endcomment %}
                        {{ post.excerpt | truncatewords: 160 }}
                        {% comment %}{{ post.content | strip_html | markdownify | strip_html | strip_newlines | truncatewords: 160 }}{% endcomment %}
                    </div>
                    <footer class="post-card-footer">
                        {% include snippet/post/post-tags.liquid
                            tags=post.tags
                            class="text-muted"
                        %}
                    </footer>
                </div>
            </article>
        {% endfor %}
    </div>

    {% if site.paginate %}
        <div class="pager d-none">
            <ul class="pagination">
                {% if paginator.previous_page %}
                    <li>
                        <a href="{{ paginator.previous_page_path | relative_url }}"
                           class="previous-page">{{ paginator.previous_page }}</a>
                    </li>
                {% else %}
                    <li>
                        <div class="pager-edge">•</div>
                    </li>
                {% endif %}
                <li>
                    <div class="current-page">{{ paginator.page }}</div>
                </li>
                {% if paginator.next_page %}
                    <li>
                        <a href="{{ paginator.next_page_path | relative_url }}"
                           class="next-page">{{ paginator.next_page }}</a>
                    </li>
                {% else %}
                    <li>
                        <div class="pager-edge">•</div>
                    </li>
                {% endif %}
            </ul>
        </div>
    {% endif %}
{% endif %}