---
layout: default
---
<article class="post"
         itemid="{{ post.url | relative_url }}"
         itemprop="blogPost"
         itemscope
         itemtype="https://schema.org/BlogPosting">

    <header class="post-header">
        {% include snippet/image.liquid
            file=page.thumbnail_cover
            alt=page.title
            figure_class='figure-post'
            image_class='rounded '
        %}

        <h1 class="post-title" itemprop="name headline">
            {{ page.title | escape }}
        </h1>

        <p class="post-meta">
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}

            <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                {{ page.date | date: date_format }}
            </time>

            {%- if page.modified_date -%}
                ~
                {%- assign mdate = page.modified_date | date_to_xmlschema -%}
                <time datetime="{{ mdate }}" itemprop="dateModified">
                    {{ mdate | date: date_format }}
                </time>
            {%- endif -%}

            {%- if page.author -%}
                •
                {% for author in page.author %}
                    <span itemprop="author" itemscope itemtype="https://schema.org/Person">
                        <span itemprop="name">{{ author }}</span>
                    </span>
                    {%- if forloop.last == false %}, {% endif -%}
                {% endfor %}
            {%- endif -%}
        </p>

        {% assign tags_size = page.tags | size %}
        {% if tags_size != 0 %}
            <p>
                <span>Tags:</span>
                {% for tag in page.tags %}
                    <span class="badge bg-primary">{{ tag }}</span>
                {% endfor %}
            </p>
        {% endif %}

        {% assign categories_size = page.categories | size %}
        {% if categories_size != 0 %}
            <p>
                <span>Categories:</span>
                {% for categoriey in page.categories %}
                    <span class="badge bg-primary">{{ categoriey }}</span>
                {% endfor %}
            </p>
        {% endif %}
    </header>

    <div class="post-content" itemprop="articleBody">
        {{ content }}
    </div>
</article>